.bg {
    background: #EBE4F4;
    padding: 20px;
}

.container {
    display: flex;
}

.heading {
    align-items: center;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;
        padding: 20px;
    }
}
